a{
    text-decoration: none !important;
}

.gap{
    gap: 10px !important;
}
.btn-g{
    color: white !important;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    background-color: var(--main--color);
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px 5px 5px 0px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: inset 1px 3em 20px 20px var(--main--color2);
    transition:0.5s ;
    -webkit-transition:0.5s ;
    -moz-transition:0.5s ;
    -ms-transition:0.5s ;
    -o-transition:0.5s ;
    border: 0;
}

.btn-g:hover{
color: white !important;
background-color: var(--main--color);

box-shadow: inset 0px 0px 0px 0px var(--main--color2);
}

/* start landing */
.landing .all-title-box{
    background: url(../img/all-bg-title.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    padding: 70px 0px;
    position: relative;
}
.landing .all-title-box::before {
    background: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    
    left: 0px;
    top: 0px;
}


.landing .container{
    position: relative;
    color: white;
}
.landing .container ul{
    background: var(--main--color);
    margin: 0px;
    display: inline-block;
    border-radius: 0px;
    float: right;
    padding: 10px;
}

.landing .breadcrumb-item{
    color: white !important;
}


.landing .col-lg-12{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}


/* end landing */



/* start section 1 */

.section1{
    padding: 30px 0;

}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #3abc97c4 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(58 188 152 / 40%) !important;
}

.section1 .container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
@media (max-width:867px) {
    .section1 .container{
        grid-template-columns: repeat(1,1fr);
    }
}


.section1 .part1 form{
    text-align: center;
}
.contact-info-left{
    padding: 10px;
    background: url(../img/contact-bg.jpg) no-repeat center;
    
    background-size: cover;
}

.contact-info-left h2{
    font-size: 24px;
}
.contact-info-left p{
    font-size: 14px;
    display: flex;
}

.contact-info-left ul{
    list-style: none;
    padding: 0;
}

.contact-info-left i{
    padding: 0 11px 0 0px;
    color: var(--main--color);
}
.contact-info-left a{
    color: var(--main--color2);
}

.contact-info-left a:hover{
    color: var(--main--color);
}
/* end section1 */